<div class="banner">
<div class="overlay">
  <div class="banner-container">
    <h1>Create a Cocktail</h1>
    <h2>Make your own cocktail to add to our list</h2>
  </div>
  </div>
</div>
</div>

<div class="card-section">

<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<%= link_to 'Home', cocktails_path %>
</div>
